.main{
    background-image: url('../img/landing_bg_overlay.png');
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .header{
    color: skyblue;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 5px 5px 6px #1564d9;
  }

  .header-little{
    color: white;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
  }